service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{project} {
      allow read, write: if resource.data.owner_id == request.auth.uid;

      match /events/{event} {
      	allow read, write: if get(/databases/$(database)/documents/projects/$(project)).data.owner_id == request.auth.uid;
      }
    }
  }
}