service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{project} {
      allow read, write: if resource.data.owner_id == request.auth.uid;

      function projectDoc() {
        return get(/databases/$(database)/documents/projects/$(project)).data;
      }

      match /events/{event} {
      	allow read, write: if projectDoc().owner_id == request.auth.uid;
      }
      match /topics/{topic} {
        allow read, write: if projectDoc().owner_id == request.auth.uid;
      }
      match /stages/{stage} {
        allow read, write: if projectDoc().owner_id == request.auth.uid;
      }
    }
  }
}